@keyframes fadeInContact {
    from {color: #e88521;}
    to {color: black;}
}

@keyframes fadeOutContact {
    from {color: black;}
    to {color: #e88521;}
}

.contact-navbar-option-item-normal {
    color: #e88521;
    text-decoration: none;
    animation: fadeOutContact 0.3s;
}

.contact-navbar-option-item-normal:hover {
    animation: fadeInContact 0.3s;
    color:black;
    cursor: pointer;
}

.contact-navbar-option-item-focused {
    color:black;
    text-decoration: none;
}

.contact-navbar-option-item-focused:hover {
    cursor: pointer;
}