.contact-main-container {
    background-color: #3b3b3b;
    height: 80vh;
    width: 100%;
}

.contact-body-container {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 15%;
}

.contact-body-title {
    font-size: 40px;
    color: #e88521;
    font-weight: 700;
    margin-bottom: 50px;
}

.contact-body-item {
    padding: 10px;
}

.contact-body-item-1 {
    padding: 10px;
    font-size: 25px;
    margin-bottom: 30px;
}