.footer-main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 480px;
    background-color: #e88521;
}

.footer-contact-container {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;
}

.footer-contact-header {
    font-weight: 700;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
} 

.footer-contact-body {
    margin-bottom: 29px;
}

.footer-right-side-main-container {
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin-left: 200px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;
}

.reserve-now-button {
    color: white;
    background-color: black;
    border-radius: 20px;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-media-links-container {
    display: flex;
    align-items: center;
}

.instagram {
    width: 19px;
    padding: 2px;
}

.instagram:hover {
    cursor: pointer;
    width: 21px;
    padding: 1px;
}

.facebook {
    width: 25px;
    padding: 2px;
}

.facebook:hover {
    cursor: pointer;
    width: 27px;
    padding: 1px;
}

.email {
    width: 34px;
    filter: invert(100%);
    padding: 2px;
}

.email:hover {
    width: 36px;
    padding: 1px;
    cursor: pointer;
}
